<ng-container [formGroup]="formArray">
  <h3 [attr.title]="schema.explanation">
    <input [(ngModel)]="viewState.expanded" [ngModelOptions]="{standalone: true}" type="checkbox"/>
    {{schema.description}}
    <button *ngIf="!readonlyMode" (click)="addItem()" [disabled]="formArray.length >= maxOccurs">Add</button>
    <button *ngIf="!readonlyMode && minOccurs === 0" (click)="clearItems()" [disabled]="formArray.length == 0">Clear</button>
  </h3>
  <ul *ngIf="viewState.expanded">
    <ng-container *ngFor="let item of formArray.controls; let idx=index">
      <li *ngIf="showItem(item)">
        <app-prop-complex
          [formGroup]="item"
          [index]="idx"
          [schema]="schema.items"
          [readonlyMode]="readonlyMode"
          [viewState]="viewState.items[idx]"
        >
          <button *ngIf="!readonlyMode" (click)="removeItem(idx)" [disabled]="formArray.length <= minOccurs">
            Remove {{formArray.length}} {{minOccurs}}
          </button>
        </app-prop-complex>
      </li>
    </ng-container>
  </ul>
</ng-container>
