<div [formGroup]="formGroup" [attr.title]="schema.explanation">
  <label [for]="key">{{description}}</label>
  <ng-container [ngSwitch]="inputType">

    <input *ngSwitchCase="'hidden'" [formControlName]="key" [id]="key" type="hidden"/>

    <input *ngSwitchCase="'number'" [formControlName]="key" [id]="key" type="number"/>

    <input *ngSwitchCase="'date'" [formControlName]="key" [id]="key" type="date"/>

    <ng-container *ngSwitchCase="'radio'">
      <ng-template [ngForOf]="schema.oneOf || schema.anyOf" let-option let-id="index" ngFor>
        <input  [formControlName]="key" [id]="key + id" type="radio" [value]="option.value"/>
        <label [for]="key + id">{{option.text}}</label>
      </ng-template>
    </ng-container>

    <select *ngSwitchCase="'select'" [formControlName]="key">
      <option *ngFor="let option of schema.anyOf" [ngValue]="option.value">{{option.text}}</option>
    </select>

    <select *ngSwitchCase="'multi-select'" [formControlName]="key" multiple>
      <option *ngFor="let option of schema.anyOf" [ngValue]="option.value">{{option.text}}</option>
    </select>

    <input *ngSwitchDefault [attr.maxlength]="maxLength" [formControlName]="key" [id]="key" [pattern]="schema.pattern" type="text"/>

  </ng-container>
</div>
