<h3>{{title}}</h3>
<input id="dirty" type="radio" disabled [value]="true" [ngModel]="rootControl.dirty"/>
<label for="dirty">dirty</label>
<input id="invalid" type="radio" disabled [value]="true" [ngModel]="rootControl.invalid"/>
<label for="invalid" [attr.title]="errorsSnapshot ? (errorsSnapshot | json) : undefined">invalid</label>
<input id="touched" type="radio" disabled [value]="true" [ngModel]="rootControl.touched"/>
<label for="touched">touched</label>
<br>
<input id="readonly" type="checkbox" [(ngModel)]="readonly"/>
<label for="readonly">Readonly</label>
<br>
<button (click)="resetModel()">Reset model</button>
<button (click)="resetViewState()">Reset view state</button>

<section>
  <form [formGroup]="rootControl">
    <app-prop-complex
      [schema]="schema"
      [formGroup]="rootControl"
      [viewState]="viewState"
      [readonly]="readonly"
    ></app-prop-complex>
  </form>
  <pre>{{formModel | json}}</pre>
  <pre>{{viewStateSnapshot | json}}</pre>
</section>
