<h3>ngx-dynamic-form</h3>
<h4>Status: {{status}} <button *ngIf="status === 'INVALID'" (click)="onShowErrors()">Errors</button></h4>
<input id="dirty" type="radio" disabled [value]="true" [ngModel]="schemaFormEditor.dirtyChanged | async"/>
<label for="dirty">dirty</label>
<input id="invalid" type="radio" disabled [value]="'INVALID'" [ngModel]="schemaFormEditor.statusChanged | async"/>
<label for="invalid">invalid</label>
<br>
<input id="readonly" type="checkbox" [(ngModel)]="readonlyMode"/>
<label for="readonly">Readonly mode</label>
<br>
<input id="hideEmpty" type="checkbox" [(ngModel)]="hideEmpty"/>
<label for="hideEmpty">Hide empty sections</label>
<br>
<button (click)="reloadModel()">Reload model</button>
<button (click)="test()">Test</button>


<section>
  <app-schema-form
    #editor
    [schema]="schema"
    [model]="initialModel"
    [readonlyMode]="readonlyMode"
    (modelChanged)="onModelChanged($event)"
    (statusChanged)="onStatusChanged($event)"
  >
  </app-schema-form>
  <!--app-schema-form
    #view
    [schema]="schema"
    [model]="readonlyModel"
    [readonlyMode]="true"
    [hideEmpty]="hideEmpty"
  >
  </app-schema-form-->
  <app-object-monitor header="Initial model" [obj]="initialModel"></app-object-monitor>
  <app-object-monitor header="Form model" [obj]="formModel"></app-object-monitor>
  <app-object-monitor header="View state" [obj]="schemaFormEditor.viewState"></app-object-monitor>
</section>
