<h3>ngx-dynamic-form</h3>
<input id="dirty" type="radio" disabled [value]="true" [ngModel]="schemaForm.dirtyChanged | async"/>
<label for="dirty">dirty</label>
<input id="invalid" type="radio" disabled [value]="'INVALID'" [ngModel]="schemaForm.statusChanged | async"/>
<label for="invalid" [attr.title]="errorsSnapshot ? (errorsSnapshot | json) : undefined">invalid</label>
<br>
<input id="readonly" type="checkbox" [(ngModel)]="readonlyMode"/>
<label for="readonly">Readonly mode</label>
<br>
<button (click)="reloadModel()">Reload model</button>

<section>
  <app-schema-form
    [schema]="schema"
    [model]="model"
    [readonlyMode]="readonlyMode"
    (modelChanged)="onModelChanged($event)"
  >
  </app-schema-form>
  <pre>{{formModel | json}}</pre>
  <pre>{{model | json}}</pre>
</section>
