/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

section {
  display: flex;
  flex-direction: row;
}

pre {
  flex: 1;
}

form {
  flex: none;
  width: 300px;
}

h4 {
  margin-top: .5em;
  margin-bottom: .5em;
}

label {
  display: inline-block;
}

label:first-of-type {
  width: 5em;
}

input:not[type=checkbox] {
  width: 12em;
}

input[type=radio] + label {
  margin-left: .5em;
}

input[disabled] {
  color: gray;
  background-color: lightgray;
}

button[disabled] {
  color: gray;
  background-color: lightgray;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: .5em;
}

.ng-invalid {
  border-color: red;
}
