<ng-container [formGroup]="formGroup">
  <h3 [attr.title]="schema.explanation">
    <input type="checkbox"
      [ngModel]="viewState.expanded | async"
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="viewState.expanded.next($event)"/>
    {{description}}
    <ng-container *ngIf="!readonlyMode">
      <ng-template [ngForOf]="schema.controls" let-control ngFor>
        <ng-container [ngSwitch]="control.type">
          <app-address-picker *ngSwitchCase="'AddressPicker'" [formGroup]="formGroup" [viewState]="viewState" [schema]="schema" [config]="control.config"></app-address-picker>
        </ng-container>
      </ng-template>
    </ng-container>
    <ng-content select="button"></ng-content>
  </h3>
  <ul *ngIf="viewState.expanded | async">
    <ng-template [ngForOf]="properties" [ngForTrackBy]="trackByKey" let-prop ngFor>
      <li *ngIf="widgetForProperty(prop) as widget" [ngSwitch]="widget">
        <app-prop-simple
          *ngSwitchCase="'SIMPLE'"
          [formGroup]="formGroup"
          [key]="prop.key"
          [readonlyMode]="readonlyMode"
          [schema]="prop.schema"
          [viewState]="viewStateForProp(prop.key)"
        ></app-prop-simple>
        <app-prop-array
          *ngSwitchCase="'ARRAY'"
          [formArray]="formGroup.get(prop.key)"
          [readonlyMode]="readonlyMode"
          [hideEmpty]="hideEmpty"
          [schema]="prop.schema"
          [viewState]="viewStateForProp(prop.key)"
        ></app-prop-array>
        <app-prop-complex
          *ngSwitchCase="'COMPLEX'"
          [formGroup]="formGroup.get(prop.key)"
          [readonlyMode]="readonlyMode"
          [hideEmpty]="hideEmpty"
          [schema]="prop.schema"
          [viewState]="viewStateForProp(prop.key)"
        ></app-prop-complex>
      </li>
    </ng-template>
  </ul>
</ng-container>
